html{
	color: #000000;
        text-align: center;
	background-image: url(bam.jpg);
        background-repeat: repeat;
}

img#hatter{

}


body{
	margin: 0;
	padding: 0;
	text-align:left;
	line-height: 1.7em;
	
}

div#hatterdiv{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -503px;
	text-align: center;
	width: 1006px;
	height: 628px;
	z-index:-1;
}

div#main{
	position:absolute;
	top: 99px;
	left: 50%;
	margin-left: -288px;
	width: 750px;
	height: 492px;
	overflow: auto;
	padding:0px;
	z-index:1;
	text-align: left;
	font-family:"Helvetica", Helvetica, sans-serif;
	font-size: 1.2em;
	color: #302f5e;
}

p.marginos{
	margin-right:34px;
}

table.paddinges{
	padding-right:34px;
}

div.subhtext{
	position:relative;
	top: 0px;
	left: 25px;
	width:400px;
	}
	
div.htext{
	position:relative;
	top: 0px;
	left: 25px;
	width:400px;
	font-family:"Helvetica", Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-align: right;
	z-index:3;
	}
	
div#htext1{	
	color: #302f5e;
}

div#htext2{	
	color: #302f5e;
}

div#htext3{	
	color: #302f5e;
}

div#gombdiv{
	position:absolute;
	top: 119px;
	left: 50%;
	margin-left: -472px; 
	width:168px;
	height:500px;
	overflow: auto;
	padding:0px;
	z-index:4;
	text-align: left;
}


a#ag1{
	position:absolute;
	top: 0px;
	left: 0px;
	width:165px;
	height:67px;
	z-index:4;
}
a#ag1:hover{
    background-image: url(g_miaz_on.png);
    background-repeat: no-repeat;
    display:block;
    height:67px;
    width:165px;    
}

a#ag2{
	position:absolute;
	top: 79px;
	left: 0px;
	width:165px;
	height:67px;
	z-index:4;
}
a#ag2:hover{
    background-image: url(g_kinek_on.png);
    background-repeat: no-repeat;
    display:block;
    height:67px;
    width:165px;    
}

a#ag3{
	position:absolute;
	top: 158px;
	left: 0px;
	width:165px;
	height:67px;
	z-index:4;
}
a#ag3:hover{
    background-image: url(g_kapcs_on.png);
    background-repeat: no-repeat;
    display:block;
    height:67px;
    width:165px;    
}

div#idezo1{
	position: relative;
	top: -40px;
	height: 90px;
	line-height: 1.3em;
	float: right;
	width: 220px;
	margin-left: 20px;
}

div#idezo2{
	position: relative;
	top: -40px;
	height: 60px;
	line-height: 1.3em;
	float: left;
	width: 160px;
}
div#idezo3{
	position: relative;
	top: -40px;
	height: 60px;
	line-height: 1.3em;
	float: right;
	width: 220px;
	margin-left: 20px;
}

div#idezo4{
	position: relative;
	top: -40px;
	height: 90px;
	line-height: 1.3em;
	float: left;
	width: 180px;
}

span.tag{
	font-family:"Times New Roman", Times, serif;
	font-size: 1.3em;
	color: #84a1a9;
	font-style: italic;
	vertical-align: -15px;	
}

span.idezo{
	top: -90px;
	font-family:"Times New Roman", Times, serif;
	font-size: 4.3em;
	color: #84a1a9;
	letter-spacing:-8px;	
	vertical-align: super;
	font-style: normal;
	font-weight: bold;
}

span.cap{
	font-family:"Times New Roman", Times, serif;
	font-size: 2.4em;
	color: #84a1a9;
	font-style: italic;
	vertical-align: -5px;
	

}
