body{
	text-align: center;
	
}

div#maincontainer{
	position:relative;
	top: 0px;
	width:973px;
	height:768px;
	margin:0px auto;
	overflow: hidden;
}

div#main{
	position:relative;
	top: 0px;
	width:973px;
	height:768px;
	background-image: url('korsoback8.jpeg');
	margin:0px auto;
}

div.content{
	font: bold 20px courier;
	visibility: hidden;
	z-index: 5;
}

div.spacebeforecopy{
	z-index: 5;
}

div.copyright{
	z-index: 5;
	height: 30px;
	text-align: center;
}

div.focontent{
	position: absolute;
	top: 92px;
	left: 200px;
	height: 500px;
	width: 773px;
	text-align: left;
	z-index: 3;
	overflow: auto;
}

div#navi{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 168px;
	height: 568px;
	text-align: left;
	z-index: 0;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

table#navitable{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
	width: 100%;
}

div.contenttext{
}

div.edited{
	border: thin dotted rgb(100,100,100);
}

td.lowlight{
	padding-left: 15px;
	padding-bottom: 5px;
}

div.alcim{
	font: bold 20px arial;
	text-align: center;
}

td.imagetd{
	text-align: center;
}

td.newstd{
	text-align: justify;
}

div.content{
	padding: 5px;
	text-align: center;
}


table.newstable{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}